{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-text">

        <h1>Boost Your Resume With AI</h1>

        <p>

            Upload your resume and receive professional ATS score,
            AI suggestions, missing skills and job matching.

        </p>

        <a href="/upload-resume" class="btn">

            Upload Resume

        </a>

    </div>

</section>

<section class="features">

    <div class="feature-card">

        <h2>ATS Score</h2>

        <p>

            Calculate Resume ATS Score instantly.

        </p>

    </div>

    <div class="feature-card">

        <h2>AI Suggestions</h2>

        <p>

            Improve resume using Artificial Intelligence.

        </p>

    </div>

    <div class="feature-card">

        <h2>Skill Detection</h2>

        <p>

            Detect Technical and Soft Skills.

        </p>

    </div>

</section>

<section class="about">

<h2>Why Choose Us?</h2>

<p>

Our AI Resume Analyzer helps students and professionals improve
their resumes with smart AI recommendations and ATS optimization.

</p>

</section>

{% endblock %}